<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%- title %></title>
</head>
<body>
    <div
        class="container"
    >
        <h1>DIRETRIZES DA COMUNIDADE</h1>
        <hr>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequatur numquam voluptas quae, illum tempora neque excepturi at iure modi necessitatibus incidunt nihil temporibus? Hic eveniet suscipit fuga cum laborum nulla neque deserunt magnam in, accusamus voluptates atque repellat quidem eos mollitia deleniti ipsam, voluptatem exercitationem obcaecati omnis porro ex quod. Voluptatem cum alias similique modi ipsa, eum tempore illum magnam sunt pariatur autem dolores dolor? Esse ab nostrum praesentium odit nobis. Natus itaque ullam illum mollitia ratione eveniet repellendus cum, repellat expedita quia aspernatur provident molestias, eos reprehenderit fugiat praesentium, dolorum temporibus hic accusamus nobis enim laboriosam commodi suscipit.
        </p>
    </div>
    
</body>
</html>