<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/eula.css">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title><%- title %></title>
</head>
<body>
    <main class="container">
        
        <h1>Projeto-Lumos</h1>
        <h1>Diretrizes da Comunidade</h1>

        <hr>
        
        <p>Bem-vindo à comunidade do Projeto Lumos! Estamos felizes por você fazer parte deste projeto. Para manter um ambiente positivo e colaborativo, pedimos que todos os membros sigam estas diretrizes:</p>
        <ol>
            <li>Respeito e Tolerância</li>
            <ul>    
                <li>Respeite os outros membros da comunidade, independentemente de suas opiniões, identidade, origem ou experiência.</li>
                <li>Evite linguagem ou comportamento ofensivo, discriminatório ou prejudicial.</li>
                <li>Esteja aberto ao diálogo construtivo e à troca de ideias, mesmo em situações de discordância.</li>
            </ul>

            <li>Colaboração e Contribuição</li>
            <ul>
                <li>Encorajamos a colaboração e o compartilhamento de conhecimento entre os membros.</li>
                <li>Contribua de forma construtiva para discussões, revisões de código e outras atividades do projeto.</li>
                <li>Reconheça e valorize o trabalho dos outros membros da comunidade.</li>
            </ul>

            <li>Ambiente Seguro</li>
            <ul>
                <li>Crie um ambiente seguro e acolhedor para todos os membros, especialmente para aqueles que estão começando ou se sentem inseguros.</li>
                <li>Relate comportamentos inadequados ou preocupantes à equipe de moderação ou aos administradores do projeto.</li>
            </ul>

            <li>Cumprimento das Regras</li>
            <ul>
                <li>Siga as regras específicas do projeto Lumos, incluindo diretrizes de código, padrões de contribuição e políticas de uso da plataforma.</li>
                <li>Esteja ciente das políticas de privacidade e segurança ao lidar com dados sensíveis ou informações confidenciais.</li>
            </ul>

            <li>Feedback Construtivo</li>
            <ul>
                <li>Forneça e receba feedback de forma construtiva e respeitosa.</li>
                <li>Esteja aberto a críticas e sugestões para melhorar seu trabalho e contribuições para o projeto.</li>
            </ul>

            <li>Diversidade e Inclusão</li>
            <ul>
                <li>Celebramos a diversidade de experiências, perspectivas e origens na nossa comunidade.</li>
                <li>Promovemos uma cultura inclusiva que acolhe pessoas de todos os grupos sub-representados e minorias.</li>
            </ul>

            <li>Responsbilidade</li>
            <ul>
                <li>Assuma a responsabilidade por suas ações e palavras dentro da comunidade.</li>
                <li>Esteja disposto a corrigir erros e aprender com as experiências para melhorar como membro da comunidade.</li>
            </ul>

            <li>Divirta-se!</li>
            <ul>
                <li>Por fim, lembre-se de que estamos todos aqui para aprender, crescer e colaborar em um ambiente amigável e divertido. Divirta-se enquanto fazemos o Projeto Lumos brilhar!</li>
            </ul>

        </ol>

        <p>Essas são diretrizes gerais para orientar a conduta dos membros da comunidade. Se surgirem dúvidas ou problemas específicos, não hesite em entrar em contato com a equipe de moderação ou administração do projeto.</p>

        <p>Obrigado por ser parte desta comunidade incrível!</p>

    </main>
</body>
</html>