<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    
    <link rel="stylesheet" href="/bootstrap-icons.min.css">
    
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title><%-title%></title>
</head>
<body>
    <header>
            projeto-lumos
    </header>
    
    <main>
        <%- include('./partials/navbar.ejs') %>
        
        <div id="mensageiro">
            <div id="esquerda">
                <button
                    class="bi bi-person-fill-add btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#modalUsuarios"
                > ADICIONAR </button>

                <%- include('./partials/modalBuscarUsuarios.ejs') %>
                

                <div id="usuario">
                    <img
                    src="/<%= usuario.foto.replace('uploads/', '') %>"
                    alt="foto"
                    class="img-thumbnail rounded-circle mh-100"
                    onerror="this.error=null; this.src='/img/favicon.png';"
                    > 
                    <strong><%= usuario.nome %></strong>
                    
                    <i class="bi bi-person-fill-gear btn"></i>
                    

                </div>
            </div>
            
            <div class="container" id="centro">
                <h1> Bem-vindo(a) ao <strong>projeto-lumos</strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo praesentium aspernatur culpa possimus, corrupti repudiandae minus ipsam mollitia fugiat, vero quos facilis in eum ipsum sunt maxime tempore, perspiciatis quae.</p>

            </div>
            
            <div id="direita">
                Direita
            </div>
        </div>
        <!-- &copy; criado por DHDC-21. -->
    </main>

    <script>
        window.global = JSON.parse('<%- JSON.stringify(global) %>');
    </script>
    <script src="/js/modalBuscarUsuarios.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>