<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="stylesheet" href="/bootstrap-icons.min.css">
    
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title><%-title%></title>
</head>
<body>
    <header>
            projeto-lumos
    </header>
    
    <main>
        <nav>
            <i class="bi bi-list"></i>
            <i class="bi bi-person-fill"></i>
        </nav>
        
        <div id="mensageiro">
            <div id="esquerda">
                <i class="bi bi-person-fill-add btn btn-primary"> ADICIONAR </i>
                <div id="usuario">
                    <%= usuario.nome + ' ' +usuario.sobrenome %>
                    <i class="bi bi-person-fill-gear btn"></i>
                </div>
            </div>

            <div class="container" id="centro">
                <h1> Bem-vindo(a) ao <strong>projeto-lumos</strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo praesentium aspernatur culpa possimus, corrupti repudiandae minus ipsam mollitia fugiat, vero quos facilis in eum ipsum sunt maxime tempore, perspiciatis quae.</p>
            </div>
            
            <div id="direita">
                Direita
            </div>
        </div>
        <!-- &copy; criado por DHDC-21. -->
    </main>

</body>
</html>