<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sign-in.css">

    <link rel="stylesheet" href="/bootstrap-icons.min.css">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title><%- title %></title>
</head>

<body id="sign-in">
    
    <header>
        <i class="bi bi-discord"></i> PROJETO-LUMOS
    </header>

    <main>

        <div id="left"></div>

        <div id="rigth">

            <h1>Boas-vindas!</h1>
            <hr>

            <form action="<%= global.ROUTE.AUTH + global.ROUTE.LOGIN %>" method="post">
    
                <div class="mb-3 form-floating">
                    <input
                        type="email"
                        class="form-control"
                        name="inputEmail"
                        id="inputEmail"
                        placeholder="exemplo@email.com"
                        tabindex="1"
                        required
                    />
                    <label for="inputEmail" class="form-label" id="inputEmail">E-mail:</label>
                </div>
    
                <div class="mb-3 form-floating">
                    <input
                        type="password"
                        class="form-control"
                        name="inputSenha"
                        id="inputSenha"
                        placeholder="********"
                        tabindex="2"
                        required
                    />
                    <label for="inputSenha" class="form-label" id="inputSenha">Senha:</label>
                    <a href="<%= global.ROUTE.FORGET %>" tabindex="-1"> Esqueceu a senha? </a>
                </div>
                
                
    
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" value="12h" id="rememberMe" name="rememberMe" tabindex="3" />
                    <label class="form-check-label" for="rememberMe" id="rememberMe"> Manter conecxão </label>
                </div>
                
                <div class="mb-3 d-grid gap-2">
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Login
                    </button>
                </div>
        
    
                <p class="mb-3">
                    Ainda não tem uma conta? <a href="<%= global.ROUTE.AUTH + global.ROUTE.REGISTER %>" rel="next" tabindex="-1"> Registre-se.</a>
                </p>
            </form>
            
            <% if (msg != '') { %>
                <div class="mb-3">
                    <div
                        class="alert alert-danger"
                        role="alert"
                    >
                        <strong>Erro:</strong> <%- msg %>
                    </div>
                </div>
            <% } %>

        </div>
    </main>
    <footer>
        Criado por Douglas Henrique.
    </footer>
</body>
</html>