
body {
    background-color: var(--color2);
    transition: 0.2s;
}

header{
    text-transform: uppercase;
    font-weight: bold;
}

main {
    background-color:  var(--color1);
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;

    max-width: 800px;
    min-width: 200px;

    border-radius: 15px;
    transition: 0.2s;
}

main hr {
    border: 2.5px solid var(--color3);
    margin: 1.5em;
}

@media screen and (max-width:640px) {
    body {
        background-color: var(--color1);
    }
}
