/* Coolors Exported Palette - https://coolors.co/8897bd-797e8a-7d9df0-3b4357-182033 */


 /* SCSS HEX */
$cool-gray: #8897bdff;
$slate-gray: #797e8aff;
$blue: #7d9df0ff;
$gray: #3b4357ff;
$dark-gray: #182033ff;

/* SCSS HSL */
$cool-gray: hsla(223, 29%, 64%, 1);
$slate-gray: hsla(222, 7%, 51%, 1);
$vista-blue: hsla(223, 79%, 72%, 1);
$charcoal: hsla(223, 19%, 29%, 1);
$oxford-blue: hsla(222, 36%, 15%, 1);

/* SCSS RGB */
$cool-gray: rgba(136, 151, 189, 1);
$slate-gray: rgba(121, 126, 138, 1);
$vista-blue: rgba(125, 157, 240, 1);
$charcoal: rgba(59, 67, 87, 1);
$oxford-blue: rgba(24, 32, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-right: linear-gradient(90deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-bottom: linear-gradient(180deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-left: linear-gradient(270deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-top-right: linear-gradient(45deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-bottom-right: linear-gradient(135deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-top-left: linear-gradient(225deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-bottom-left: linear-gradient(315deg, #8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);
$gradient-radial: radial-gradient(#8897bdff, #797e8aff, #7d9df0ff, #3b4357ff, #182033ff);